<div id="<%= dom_id employee %>">
  <p>
    <strong>Code:</strong>
    <%= employee.code %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= employee.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= employee.address %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= employee.phone_number %>
  </p>

</div>
