<div id="<%= dom_id payment %>">
  <p>
    <strong>Bill no:</strong>
    <%= payment.bill_no %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= payment.amount %>
  </p>

  <p>
    <strong>Pay type:</strong>
    <%= payment.pay_type %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= payment.date %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= payment.customer_id %>
  </p>

</div>
