<div id="<%= dom_id product %>">
  <p>
    <strong>Product:</strong>
    <%= product.product_id %>
  </p>

  <p>
    <strong>Product describle:</strong>
    <%= product.product_describle %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Discount:</strong>
    <%= product.discount %>
  </p>

  <p>
    <strong>Supplier:</strong>
    <%= product.supplier_id %>
  </p>

</div>
