<div id="<%= dom_id supplier %>">
  <p>
    <strong>Sup code:</strong>
    <%= supplier.sup_code %>
  </p>

  <p>
    <strong>Supplier name:</strong>
    <%= supplier.supplier_name %>
  </p>

  <p>
    <strong>Product name:</strong>
    <%= supplier.product_name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= supplier.address %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= supplier.email %>
  </p>

  <p>
    <strong>Pay method:</strong>
    <%= supplier.pay_method %>
  </p>

  <p>
    <strong>Discount:</strong>
    <%= supplier.discount %>
  </p>

</div>
